.clear {
    clear: both;
}
header {
    background-color: #333;
    color: #fff;
    height: 70px;
    padding: 3px 3px 3px 50px;
}
header a {
    color: #ccc;
}
header a:hover, header a:focus {
    color: #fff;
}
header h3, header .nav {
    margin-top: 10px;
    color: #ff7f0e;
}
header .nav > li > a:hover, header .nav > li > a:focus {
    background-color: #333;
}
svg {
    /*width: 100%;*/
}
.dc-chart g.row text {
    fill: #333;
}
.chart-right {
    text-align: center;
}

.age-selector { margin-bottom: 20px; }
.age-selector h4 {
    float: left;
}
.age-selector ul {
    float: left;
    margin-left: 15px;
}