.clear {
    clear: both;
}
header {
    background-color: #333;
    color: #fff;
    height: 70px;
    padding: 3px 3px 3px 50px;
}
header a {
    color: #ccc;
}
header a:hover, header a:focus {
    color: #fff;
}
header h3, header .nav {
    margin-top: 10px;
    color: #ff7f0e;
}
header .nav > li > a:hover, header .nav > li > a:focus {
    background-color: #333;
}
svg {
    /*width: 100%;*/
}
.dc-chart g.row text {
    fill: #333;
}
.chart-right {
    text-align: center;
}

.selector { margin-bottom: 10px; }
.selector h4 {
    float: left;
}
.selector ul {
    float: left;
    margin-left: 15px;
}
.header-selector {
    color: #428bca;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.header-selector-link {
    margin-left: 5px;
}
.header-selector-link:hover {
    border-bottom: dashed 1px #428bca;
}
.header-selector-link.active {
    border-bottom: dashed 1px #428bca;
    cursor: default;
}
table#topEmployees th, table#topEmployees td {
    text-align: center;
}