.clear {
    clear: both;
}
header {
    background-color: #333;
    color: #fff;
    height: 70px;
    padding: 3px 3px 3px 50px;
}
svg {
    /*width: 100%;*/
}

.chart-right {
    text-align: center;
}

.age-selector { margin-bottom: 20px; }
.age-selector h4 {
    float: left;
}
.age-selector ul {
    float: left;
    margin-left: 15px;
}