@{
    ViewBag.Title = "Age Development";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2>Workforce Age Development</h2>
    <div class="row" style="margin-top: 30px;">
        <div class="col-xs-12 age-selector">
            <ul class="nav nav-pills">
                <li><a href="javascript:dc.filterAll();dc.renderAll();">Reset All Filters</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="col-xs-12 col-lg-8">
            <div id="age-chart-totals" style="width:100%">
                <strong>Demographics by Year</strong>
                <span class="reset" style="display: none;">range: <span class="filter"></span></span>
                <a id="resetAgeTotals" class="reset" href="" style="display: none;">reset</a>
                <div class="clearfix"></div>
            </div>
            <div id="age-chart-forecast" style="width:100%">
                <strong>Age Structure Forecast</strong>
                <span class="reset" style="display: none;">range: <span class="filter"></span></span>
                <a id="resetAgeForecast" class="reset" href="" style="display: none;">reset</a>
                <div class="clearfix"></div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-12 chart-right">
                    <div id="chart-family">
                        <strong>Job Family</strong>
                        <a id="resetFamily" class="reset" href="" style="display: none;">reset</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-12 chart-right">
                    <div id="chart-function">
                        <strong>Job Function</strong>
                        <a id="resetFunction" class="reset" href="" style="display: none;">reset</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-3 chart-right">
                    <div id="chart-occupation">
                        <strong>Occupation Area</strong>
                        <a id="resetOccupation" class="reset" href="" style="display: none;">reset</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 chart-right">
                    <div id="chart-location">
                        <strong>Location</strong>
                        <a id="resetLocation" class="reset" href="" style="display: none;">reset</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 chart-right">
                    <div id="chart-group">
                        <strong>Job Group</strong>
                        <a id="resetGroup" class="reset" href="" style="display: none;">reset</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 chart-right">
                    <div id="chart-level">
                        <strong>Job Level</strong>
                        <a id="resetLevel" class="reset" href="" style="display: none;">reset</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        $('.age-link').on('click', function(e) {
            $('.age-selector .active').removeClass('active');
            $(this).parent().addClass('active');
            var age = $(this).text();
            $('.current-age').text(age);
            Draw();
        });
        
        var mapo = _.compose(_.object, _.uniq, _.map);

        var employeesSrc = @Html.Raw(Json.Encode(Model.Employees));
        var jobFamilies = @Html.Raw(Json.Encode(Model.JobFamilies));
        var jobFunctions = @Html.Raw(Json.Encode(Model.JobFunctions));
        var ageGroups = @Html.Raw(Json.Encode(Model.AgeGroups));

        var GetAgeGroup = function(age) { return _.indexOf(ageGroups, _.find(ageGroups, function(a) { return a.Min <= age && age <= a.Max; })); };
        var GetAgeGroupTitle = function(groupId) { return ageGroups[groupId].Title; };
        
        function Draw() {
            dc.filterAll();
            
            var containerMain = $('#age-chart-totals').parent();
            var containerRight = $('#chart-family').parent();
            var containerBottom = $('#chart-location').parent();
            var wMain = containerMain.width();
            var wRight = containerRight.width();
            var wBottom = containerBottom.width();
            
            //var employees = employeesSrc;
            var yearMin = 2010;
            var yearMax = yearMin + 15;
            var employees = [];
            _.each(employeesSrc, function(emp) { // create set of employees for each year
                for (var y = yearMin; y <= yearMax; y++) {
                    if (emp.PensionYear < y) return;
                    var e = _.clone(emp);
                    e.Age = y - e.BirthYear;
                    e.Year = y;
                    e.AgeGroupId = GetAgeGroup(e.Age);
                    employees.push(e);
                }
            });
            
            // Preparing data
            var ndx = crossfilter(employees);

            var yearDimension = ndx.dimension(function(emp) { return emp.Year; });
            var yearGroup = function() {
                return yearDimension.group().reduce(
                    function(p, v) {
                        p.Total++;
                        p.Male += v.Gender == 'Male' ? 1 : 0;
                        p.Female += v.Gender == 'Female' ? 1 : 0;
                        p.AgeGroups[v.AgeGroupId]++;
                        return p;
                    },
                    function(p, v) {
                        p.Total--;
                        p.Male -= v.Gender == 'Male' ? 1 : 0;
                        p.Female -= v.Gender == 'Female' ? 1 : 0;
                        p.AgeGroups[v.AgeGroupId]--;
                        return p;
                    },
                    function() {
                        var arr = [];
                        for (var i = 0; i <ageGroups.length; i++) { arr[i] = 0; }
                        return { Total: 0, Male: 0, Female: 0, AgeGroups: arr };
                    });
            };

            var ageGrDimension = ndx.dimension(function(emp) { return emp.AgeGroupId; });
            var ageGrGroup = function() {
                return ageGrDimension.group().reduce(
                    function(p, v) {
                        p.Total++;
                        p.Male += v.Gender == 'Male' ? 1 : 0;
                        p.Female += v.Gender == 'Female' ? 1 : 0;
                        p.Years[v.Year]++;
                        return p;
                    },
                    function(p, v) {
                        p.Total--;
                        p.Male -= v.Gender == 'Male' ? 1 : 0;
                        p.Female -= v.Gender == 'Female' ? 1 : 0;
                        p.Years[v.Year]--;
                        return p;
                    },
                    function() {
                        var arr = [];
                        for (var i = yearMin; i <= yearMax; i++) { arr[i] = 0; }
                        return { Years: arr };
                    });
            };

            var occupationDimension = ndx.dimension(function(emp) { return emp.OccupationArea; });
            var locationDimension = ndx.dimension(function(emp) { return emp.Location; });
            var groupDimension = ndx.dimension(function(emp) { return emp.JobGroup; });
            var familyDimension = ndx.dimension(function(emp) { return emp.JobFamily; });
            var functionDimension = ndx.dimension(function(emp) { return emp.JobFunction;  });
            var levelDimension = ndx.dimension(function(emp) { return emp.JobLevel; });

            var functionAdd = function(p, v) { if (!_.contains(p, v.Id)) p.push(v.Id); return p; };
            var functionRemove = function(p, v) { if (_.contains(p, v.Id)) p.splice(p.indexOf(v.Id), 1); return p;};
            var functionInitial = function() { return []; };
            var group = function(dimension, fnFilter) { var gr = fnFilter ? dimension.group(fnFilter) : dimension.group(); return gr.reduce(functionAdd, functionRemove, functionInitial); };
            
            var occupationGroup = group(occupationDimension);
            var locationGroup = group(locationDimension);
            var jobGroupGroup = group(groupDimension);
            var familyGroup = group(familyDimension, function(v) { if (_.contains(jobFamilies, v)) return v; });
            var functionGroup = group(functionDimension, function(v) { if (_.contains(jobFunctions, v)) return v; });
            var levelGroup = group(levelDimension);
            
            var xScaleYears = d3.scale.linear().domain([yearMin, yearMax]);
            var xScaleGroups = d3.scale.linear().domain([0, ageGroups.length]);
            var ticks = _.range(ageGroups.length);
            
            // Processing main charts

            var ageChartTotals = dc.barChart("#age-chart-totals");
            ageChartTotals
                .width(wMain)
                .height(400)
                .margins({ top: 30, right: 50, bottom: 35, left: 30 })
                .dimension(yearDimension)
                .group(yearGroup(), ageGroups[0].Title)
                .valueAccessor(function(d) { return d.value.AgeGroups[0]; })
                .title(function(d) {
                    var str = "Year " + d.x;
                    for (var i=0; i<ageGroups.length; i++) { str += "\n " + ageGroups[i].Title + ": " + d.data.value.AgeGroups[i]; }
                    str += "\n Total: " + d.data.value.Total;
                    return str;
                })
                .xAxisLabel('Year')
                .yAxisLabel('Number of Employees')
                .elasticX(true)
                .x(xScaleYears)
                .xAxisPadding(2.3)
                .elasticY(true)
                .renderHorizontalGridLines(true)
                .brushOn(false)
                .legend(dc.legend().x(50).y(30).itemHeight(13).gap(5))
                .filterPrinter(function (filters) {
                    var fLeft = Math.ceil(filters[0][0]), fRight = Math.floor(filters[0][1]);
                    return "Year " + fLeft + " - " + fRight;
                })
                .centerBar(true)
                .gap(3)
                .xAxis()
                .tickFormat(d3.format('.0f'));

            // add stacks dynamically
            for (var i=1; i<ageGroups.length; i++) {
                (function(i) {
                    ageChartTotals.stack(yearGroup(), ageGroups[i].Title, function(d) {
                        return d.value.AgeGroups[i];
                    });
                })(i);
            }

            // normalize range values for filter printer
            var normalizeRange = function(arr, idx) {
                idx = idx < 0 ? 0 : idx;
                idx = idx > arr.length - 1 ? arr.length - 1 : idx;
                return idx;
            };
            // calculate translates for bar charts
            var marginRight = 50, marginLeft = 30;
            var k = 3; // number of bars
            var w = (wMain - marginLeft - marginRight) / ageGroups.length; // column width
            var colRightMargin = w / 5, colLeftMargin = w / 20; // left and right column margins
            var wEff = w - colLeftMargin - colRightMargin; // effective column width
            var barMargin = wEff/k/(k+1), gap = wEff * (k - 1) / k + barMargin  + colRightMargin + colRightMargin, translate = wEff / k;
            var t1 = colLeftMargin + translate * 0, t2 = colLeftMargin + translate * 1, t3 = colLeftMargin + translate * 2;
            var ageChartForecast = dc.compositeChart("#age-chart-forecast");
            ageChartForecast
                .width(wMain)
                .height(400)
	            .transitionDuration(200)
                .margins({ top: 30, right: marginRight, bottom: 35, left: marginLeft })
                .dimension(ageGrDimension)
                .group(ageGrGroup(), "Total")
                .valueAccessor(function(d) { return d.value.Years[2015]; })
                .title(function(d) {
                    return "Age " + ageGroups[d.x].Title + "\n  Number of employees: " + d.data.value.Years[2015];
                })
                .xAxisLabel('Age Group')
                .yAxisLabel('Number of Employees')
                .x(xScaleGroups)
                .elasticY(true)
                .renderHorizontalGridLines(true)
                .brushOn(false)
                .legend(dc.legend().x(50).y(30).itemHeight(13).gap(5))
	            .renderlet(function (chart) {
	                chart.selectAll("g._0").attr("transform", "translate(" + t1 + ", 0)");
	                chart.selectAll("g._1").attr("transform", "translate(" + t2 + ", 0)");
	                chart.selectAll("g._2").attr("transform", "translate(" + t3 + ", 0)");
	            })
                .filterPrinter(function (filters) {
                    var fLeft = normalizeRange(ageGroups, Math.ceil(filters[0][0]));
                    var fRight = normalizeRange(ageGroups, Math.floor(filters[0][1]));
                    return "Age " + ageGroups[fLeft].Min + " - " + ageGroups[fRight].Max;
                })
                .compose([
                    dc.barChart(ageChartForecast).gap(gap).group(ageGrGroup(), "2015").title(function(d) { return "Year 2015 \n  Number of employees: " + d.data.value.Years[2015]; }).colors(['#1f77b4']).valueAccessor(function(d) { return d.value.Years[2015]; }),
                    dc.barChart(ageChartForecast).gap(gap).group(ageGrGroup(), "2020").title(function(d) { return "Year 2020 \n  Number of employees: " + d.data.value.Years[2020]; }).colors(['#ff7f0e']).valueAccessor(function(d) { return d.value.Years[2020]; }),
                    dc.barChart(ageChartForecast).gap(gap).group(ageGrGroup(), "2025").title(function(d) { return "Year 2025 \n  Number of employees: " + d.data.value.Years[2025]; }).colors(['#2ca02c']).valueAccessor(function(d) { return d.value.Years[2025]; })
                ])
                .on('postRender', function(chart) {
                    var x = wEff / 2;
                    chart.svg()
                        .select('.axis.x')
                        .selectAll("text")
                        .attr("transform", function(i) { return "translate (" + x + ", 0)"; });
                })
                .xAxis()
                .tickValues(ticks)
                .tickFormat(function (d) {
                    if (d < 0 || d >= ageGroups.length) return '';
                    return ageGroups[d].Title;
                });
            
            // Processing Other Charts

            var initPieChart = function(chart, dimension, gr) {
                return chart
                    .width(wBottom)
                    .height(180)
                    .radius(80)
                    .dimension(dimension)
                    .group(gr)
                    .valueAccessor(function(d) { return d.value.length; })
                    .colors(d3.scale.category20());
            };

            var initRowChart = function(chart, dimension, gr) {
                return chart
                    .width(wRight)
                    .height(410)
                    .dimension(dimension)
                    .group(gr)
                    .valueAccessor(function(d) {
                        return d.value.length;
                    })
                    .colors(d3.scale.category20());
            };
            
            var occupationChart = dc.pieChart("#chart-occupation");
            var locationChart = dc.pieChart("#chart-location");
            var groupChart = dc.pieChart("#chart-group");
            var familyChart = dc.rowChart("#chart-family");
            var functionChart = dc.rowChart("#chart-function");
            var levelChart = dc.pieChart("#chart-level");

            initPieChart(occupationChart, occupationDimension, occupationGroup);
            initPieChart(locationChart, locationDimension, locationGroup);
            initPieChart(groupChart, groupDimension, jobGroupGroup);
            initRowChart(familyChart, familyDimension, familyGroup);
            initRowChart(functionChart, functionDimension, functionGroup);
            initPieChart(levelChart, levelDimension, levelGroup);
            
            var fnReset = function(chart) {
                return function() { chart.filterAll(); dc.redrawAll(); return false; };
            };
            
            $('#resetAgeTotals').on('click', fnReset(ageChartTotals));
            $('#resetAgeForecast').on('click', fnReset(ageChartForecast));
            $('#resetOccupation').on('click', fnReset(occupationChart));
            $('#resetLocation').on('click', fnReset(locationChart));
            $('#resetGroup').on('click', fnReset(groupChart));
            $('#resetFamily').on('click', fnReset(familyChart));
            $('#resetFunction').on('click', fnReset(functionChart));
            $('#resetLevel').on('click', fnReset(levelChart));

            dc.renderAll();
        }

        Draw();
    </script>
}