@using Workforce.Models
@model SkillDistribution
@{
    ViewBag.Title = "Critical Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="text-align: center;">
    <h2>The page is under development</h2>
</div>