<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Workforce.DAL.Properties.Settings.WorkforceConnectionString"
            connectionString="Data Source=.\SQL2012;Initial Catalog=Workforce;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Workforce.DAL.Properties.Settings.WillyConnectionString"
            connectionString="Data Source=.\SQL2012;Initial Catalog=Willy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>