@{
    ViewBag.Title = ViewBag.WindowTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Error";
    ViewBag.PageDescription = "Error";
}

<div class="span12">
	<center>
		<h3>
			Sorry, an error occurred while processing your request.
		</h3>
		<br />
		<h3>
			You can start from <a href="/">Main page</a>
		</h3>
	</center>
</div>
