@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "404 - Page not found";
    ViewBag.PageTitle = "404 - Page not found";
    ViewBag.PageDescription = "404 - Page not found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span12">
	<center>
		<h3>
			Sorry, the page you requested wasn't found on server.
		</h3>
		<br />
		<h3>
			You can start from <a href="/">Main page</a>
		</h3>
	</center>
</div>
