@using Workforce.Models
@model AgeDistribution
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Progression of Age Groups 50+ and 55+</h2>
    <div class="row" style="margin-top: 30px;">
        <div class="col-xs-12 age-selector">
            <h4>Select age:</h4>
            <ul class="nav nav-pills">
                <li class="active"><a class="age-link" href="#">50</a></li>
                <li><a class="age-link" href="#">51</a></li>
                <li><a class="age-link" href="#">52</a></li>
                <li><a class="age-link" href="#">53</a></li>
                <li><a class="age-link" href="#">54</a></li>
                <li><a class="age-link" href="#">55</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="col-xs-12 col-lg-8">
            <div id="age-chart-distribution" style="width:100%">
                <strong>Progression of workforce age groups <span class="current-age">50</span>+</strong>
                <span class="reset" style="display: none;">range: <span class="filter"></span></span>
                <a id="resetAgePercent" class="reset" href="" style="display: none;">reset</a>

                <div class="clearfix"></div>
            </div>
            <div id="age-chart-distribution2" style="width:100%; margin-top: 15px;">
                <strong>Progression of workforce age groups <span class="current-age">50</span>+</strong>
                <span class="reset" style="display: none;">range: <span class="filter"></span></span>
                <a id="resetAgeNumber" class="reset" href="" style="display: none;">reset</a>

                <div class="clearfix"></div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-12 chart-right">
                    <div id="age-chart-occupation">
                        <strong>Occupation Area</strong>
                        <span class="reset" style="display: none;">range: <span class="filter"></span></span>
                        <a id="resetOccupation" class="reset" href="" style="display: none;">reset</a>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-12 chart-right">
                    <div id="age-chart-location">
                        <strong>Location</strong>
                        <span class="reset" style="display: none;">range: <span class="filter"></span></span>
                        <a id="resetLocation" class="reset" href="" style="display: none;">reset</a>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-12 chart-right">
                    <div id="age-chart-group">
                        <strong>Job Group</strong>
                        <span class="reset" style="display: none;">range: <span class="filter"></span></span>
                        <a id="resetGroup" class="reset" href="" style="display: none;">reset</a>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-12 chart-right">
                    <div id="age-chart-family">
                        <strong>Job Family</strong>
                        <span class="reset" style="display: none;">range: <span class="filter"></span></span>
                        <a id="resetFamily" class="reset" href="" style="display: none;">reset</a>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-12 chart-right">
                    <div id="age-chart-function">
                        <strong>Job Function</strong>
                        <span class="reset" style="display: none;">range: <span class="filter"></span></span>
                        <a id="resetFunction" class="reset" href="" style="display: none;">reset</a>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-12 chart-right">
                    <div id="age-chart-level">
                        <strong>Job Level</strong>
                        <span class="reset" style="display: none;">range: <span class="filter"></span></span>
                        <a id="resetLevel" class="reset" href="" style="display: none;">reset</a>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        $('.age-link').on('click', function(e) {
            $('.age-selector .active').removeClass('active');
            $(this).parent().addClass('active');
            var age = $(this).text();
            $('.current-age').text(age);
            Draw();
        });

        var mapo = _.compose(_.object, _.uniq, _.map);

        var data = @Html.Raw(Json.Encode(Model.Results));
        var employeesSrc = @Html.Raw(Json.Encode(Model.Employees));
        var jobFamilies = @Html.Raw(Json.Encode(Model.JobFamilies));
        var jobFunctions = @Html.Raw(Json.Encode(Model.JobFunctions));
        //var employeesMap = mapo(employeesSrc, function(emp) { return [emp.CriticalYear, _.filter(employeesSrc, function(e) { return e.CriticalYear <= emp.CriticalYear && e.PensionYear > emp.CriticalYear; })]; });
        
        function Draw() {
            var critAge = parseInt($('.age-selector .active a').text());
            if (!critAge) critAge = 50;
            
            var containerMain = $('#age-chart-distribution').parent();
            var containerRight = $('#age-chart-location').parent();
            var wMain = containerMain.width();
            var wRight = containerRight.width();
            
            var employees = [];
            _.each(employeesSrc, function(emp) { // create set of employees for each year
                for (var i = emp.BirthYear + critAge; i < emp.PensionYear; i++) {
                    var e = _.clone(emp);
                    e.Year = i;
                    employees.push(e);
                }
            });

            //var locations = mapo(data, function(item) { return [item.Location, 0]; });

            // Preparing data
            var ndx = crossfilter(employees);

            var yearDimension = ndx.dimension(function(emp) { return emp.Year; });
            var workforceGroup = function() {
                return yearDimension.group().reduce(
                    function(p, v) {
                        if (p.All == 0) {
                            p.All = _.unique(_.map(_.filter(employees, function(emp) { return emp.PensionYear > v.Year; }), function(emp) { return emp.Id; })).length;
                        }
                        p.Total++;
                        p.Male += v.Gender == 'Male' ? 1 : 0;
                        p.Female += v.Gender == 'Female' ? 1 : 0;
                        return p;
                    },
                    function(p, v) {
                        if (p.All == 0) {
                            p.All = _.filter(employees, function(emp) { return emp.PensionYear > v.Year; }).length;
                        }
                        p.Total--;
                        p.Male -= v.Gender == 'Male' ? 1 : 0;
                        p.Female -= v.Gender == 'Female' ? 1 : 0;
                        return p;
                    },
                    function() {
                        return { All: 0, Total: 0, Male: 0, Female: 0 };
                    });
            };

            var occupationDimension = ndx.dimension(function(emp) { return emp.OccupationArea; });
            var locationDimension = ndx.dimension(function(emp) { return emp.Location; });
            var groupDimension = ndx.dimension(function(emp) { return emp.JobGroup; });
            var familyDimension = ndx.dimension(function(emp) { return emp.JobFamily; });
            var functionDimension = ndx.dimension(function(emp) { return emp.JobFunction; });
            var levelDimension = ndx.dimension(function(emp) { return emp.JobLevel; });

            var functionAdd = function(p, v) { if (!_.contains(p, v.Id)) p.push(v.Id); return p; };
            var functionRemove = function(p, v) { if (_.contains(p, v.Id)) p.splice(p.indexOf(v.Id), 1); return p;};
            var functionInitial = function() { return []; };
            var group = function(dimension) { return dimension.group().reduce(functionAdd, functionRemove, functionInitial); };

            var filteredAdd = function(fnFilter) { return function(p, v) { if (fnFilter(v) && !_.contains(p, v.Id)) p.push(v.Id); return p; }; };
            var filteredRemove = function(fnFilter) { return function(p, v) { if (fnFilter(v) && _.contains(p, v.Id)) p.splice(p.indexOf(v.Id), 1); return p; }; };
            var filteredGroup = function(dimension, fnFilter) { return dimension.group().reduce(filteredAdd(fnFilter), filteredRemove(fnFilter), functionInitial); };

            var familyFilter = function(v) { return _.contains(jobFamilies, v.JobFamily); };
            var functionFilter = function(v) { return _.contains(jobFunctions, v.JobFunction); };

            var occupationGroup = group(occupationDimension);
            var locationGroup = group(locationDimension);
            var jobGroupGroup = group(groupDimension);
            var familyGroup = filteredGroup(familyDimension, familyFilter);
            var functionGroup = filteredGroup(functionDimension, functionFilter);
            var levelGroup = group(levelDimension);

            var xScale = d3.scale.linear().domain([2010, 2025]);
            
            // Processing main charts

            var ageChartPercent = dc.barChart("#age-chart-distribution");
            var ageChartNumber = dc.compositeChart("#age-chart-distribution2");
            //ageChartNumber.resetSvg();
            //ageChartPercent.resetSvg();

            ageChartPercent
                .width(wMain)
                .height(400)
                .margins({ top: 30, right: 50, bottom: 25, left: 40 })
                .dimension(yearDimension)
                .group(workforceGroup(), "Male")
                .valueAccessor(function(d) { return d.value.Male / d.value.All * 100; })
                .stack(workforceGroup(), "Female", function(d) { return d.value.Female / d.value.All * 100; })
                .title(function(d) {
                    return "Year " + d.x + "\n  Male: " + d.data.value.Male + " (" + (d.data.value.Male / d.data.value.All * 100).toPrecision(3) + "%)" +
                        "\n  Female: " + d.data.value.Female + " (" + (d.data.value.Female / d.data.value.All * 100).toPrecision(3) + "%)" +
                        "\n  Total: " + d.data.value.Total + "(" + (d.data.value.Total / d.data.value.All * 100).toPrecision(3) + "%)";
                })
                .elasticX(true)
                .x(xScale)
                .xAxisPadding(1)
                .elasticY(true)
                .renderHorizontalGridLines(true)
                .legend(dc.legend().x(50).y(30).itemHeight(13).gap(5))
                .brushOn(false)
                .centerBar(false)
                .gap(3)
                .xAxis()
                .tickFormat(d3.format('.0f'));

            ageChartNumber
                .width(wMain)
                .height(400)
                .margins({ top: 30, right: 50, bottom: 25, left: 40 })
                .dimension(yearDimension)
                .group(workforceGroup(), "Dummy")
                .compose([
                    dc.lineChart(ageChartNumber)
                        .group(workforceGroup(), "Total")
                        .valueAccessor(function(d) { return d.value.Total; })
                        .title(function(d) { return "Year: " + d.x + ", Total: " + d.y; })
                        .colors(["#ff0000"]),
                    dc.lineChart(ageChartNumber)
                        .group(workforceGroup(), "Male")
                        .valueAccessor(function(d) { return d.value.Male; })
                        .title(function(d) { return "Year: " + d.x + ", Male: " + d.y; })
                        .colors(["#1f77b4"])
                        .renderArea(true),
                    dc.lineChart(ageChartNumber)
                        .group(workforceGroup(), "Female")
                        .valueAccessor(function(d) { return d.value.Female; })
                        .title(function(d) { return "Year: " + d.x + ", Female: " + d.y; })
                        .colors(["#ff7f0e"])
                        .renderArea(true)
                ])
                .elasticX(true)
                .x(xScale)
                .xAxisPadding(1)
                .elasticY(true)
                .renderHorizontalGridLines(true)
                .legend(dc.legend().x(50).y(30).itemHeight(13).gap(5))
                .brushOn(false)
                .xAxis()
                .tickFormat(d3.format('.0f'));

            // Processing Pie Charts

            var initPieChart = function(chart, dimension, group) {
                return chart
                    .width(wRight)
                    .height(180)
                    .radius(80)
                    .dimension(dimension)
                    .group(group)
                    .valueAccessor(function(d) { return d.value.length; })
                    .colors(d3.scale.category20());
            };

            var occupationChart = dc.pieChart("#age-chart-occupation");
            var locationChart = dc.pieChart("#age-chart-location");
            var groupChart = dc.pieChart("#age-chart-group");
            var familyChart = dc.pieChart("#age-chart-family");
            var functionChart = dc.pieChart("#age-chart-function");
            var levelChart = dc.pieChart("#age-chart-level");

            initPieChart(occupationChart, occupationDimension, occupationGroup);
            initPieChart(locationChart, locationDimension, locationGroup);
            initPieChart(groupChart, groupDimension, jobGroupGroup);
            initPieChart(familyChart, familyDimension, familyGroup);
            initPieChart(functionChart, functionDimension, functionGroup);
            initPieChart(levelChart, levelDimension, levelGroup);

            var fnReset = function(chart) {
                return function() { chart.filterAll(); dc.redrawAll(); return false; };
            };

            $('#resetAgePercent').on('click', fnReset(ageChartPercent));
            $('#resetAgeNumber').on('click', fnReset(ageChartNumber));
            $('#resetOccupation').on('click', fnReset(occupationChart));
            $('#resetLocation').on('click', fnReset(locationChart));
            $('#resetGroup').on('click', fnReset(groupChart));
            $('#resetFamily').on('click', fnReset(familyChart));
            $('#resetFunction').on('click', fnReset(functionChart));
            $('#resetLevel').on('click', fnReset(levelChart));

            dc.renderAll();
        }
        
        Draw();
        /*
        var id;
        $(window).resize(function(e) {
            clearTimeout(id);
            id = setTimeout(doneResizing, 500);
        });
        function doneResizing(){
            Draw();
        }*/
    </script>
}